        .btn {
            display: inline-flex;
            background: #333;
            color: white;
            text-decoration: none;
            border: 0.10em solid #666;
            font-size: 1rem;
            align-items: stretch;
            padding: auto;
        }
        /*BANNER*/
        
        .banner {
            display: grid;
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            justify-content: space-between;
            justify-content: space-around;
            background-color: ghostwhite;
        }
        
        .logo {
            width: 300px;
        }
        
        .logo ul li {
            list-style: none;
        }
        
        .logo img {
            display: grid;
            display: flex;
            width: 50%;
        }
        
        .area {
            align-items: center;
        }
        
        .area h3 {
            text-align: left;
        }
        
        .area ul li {
            list-style: none;
        }
        
        .contact ul li {
            list-style: none;
        }
        /*END BANNER*/
        /*SUB-BANNER*/
        
        .sub-banner {
            display: grid;
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            justify-content: space-between;
            justify-content: space-around;
            text-decoration: none;
            background-color: black;
        }
        
        .sub-banner a:hover {
            background: lightseagreen;
        }
        
        .sub-banner a {
            color: white;
            text-decoration: none;
            text-align: center;
            box-shadow: var(--shadow);
        }
        
        .ho ul li {
            list-style: none;
        }
        
        .wh ul li {
            list-style: none;
        }
        
        .wh ul li {
            list-style: none;
        }
        
        .re ul li {
            list-style: none;
        }
        
        .com ul li {
            list-style: none;
        }
        
        .con ul li {
            list-style: none;
        }
        /*SHOWCASE*/
        
        .showcasephoto {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-items: center;
        }
        
        .photo1 img {
            width: 70%;
        }
        
        .photo3 img {
            width: 100%;
        }
        
        .photo2 img {
            width: 80%;
        }
        /*CONTENT  START*/
        /*CONTENT  intro START*/
        
        .intro {
            display: grid;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            margin: 0.25rem 1rem 0.25rem 1rem;
        }
        
        .intro h2 {
            text-align: center;
        }
        
        .intro p {
            font-size: 1.5rem;
            text-align: justify;
        }
        /*CONTENT  intro end*/
        
        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "content1 content2 content3"
        }
        
        .content {
            grid-area: content;
            background-position: center;
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;
            flex-wrap: wrap;
            box-shadow: yellow;
        }
        
        .content1 {
            margin-right: 10px;
            background-color: lightgray;
            font-size: 2rem;
            margin-bottom: 3rem;
            fill-opacity: auto;
        }
        
        .content2 {
            margin-right: 10px;
            background-color: blue;
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        
        .content3 {
            background-color: lime;
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        
        .content p {
            grid-area: content;
        }
        /*END CONTENT */
        /*ASSOCIATION  START*/
        
        .associationtitile {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
        }
        
        .associationtitile h2 {
            align-items: center;
        }
        
        .association {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .association img {
            display: grid;
            width: 60%;
        }
        /*ASSOCIATION  END*/
        /*FOOTE R START*/
        
        .footer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: blanchedalmond;
        }
        
        .footer ul li {
            display: grid;
            display: flex;
            list-style: none;
        }
        /*END CONTENT */
        /* photo refe https://pixabay.com/photos/mouse-rodent-cute-mammal-nager-1708378/*/
        /* cockraches photo ref https://pixabay.com/vectors/bug-cockroach-insect-roach-1295181/*/
        /* bedbug photo ref https://pixabay.com/vectors/animal-bedbug-bed-bug-infestation-2027062/*/
        /* mice photo https://pixabay.com/vectors/mouse-mice-animal-rodent-small-303588/*/