/* CSS Document */


/*kichen: https://pixabay.com/photos/kitchen-home-real-estate-2486092/*/


/* homes skaches :https://pixabay.com/illustrations/houses-set-architecture-clip-art-1094900/*/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    font-family: Calibri;
}


/*HEADER START*/

header {
    background-color: #46ACC2;
    height: 10%;
    margin: 0;
    padding-top: 15px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #46ACC2;
    font-family: sans-serif;
    color: white;
}

.navigation-toggle {
    padding: 10px 0 10px 20px;
}

.navigation-toggle-btn {
    display: none;
}

.navigation-items {
    display: none;
}

.navigation-toggle-btn:checked~.navigation-items {
    display: block;
}

.icon-bar {
    margin: 10px 0;
}

.icon-bar,
.icon-bar::before,
.icon-bar::after {
    display: block;
    background: white;
    height: 2px;
    width: 22px;
    border-radius: 2px;
    position: relative;
}

.icon-bar::before,
.icon-bar::after {
    content: '';
    position: absolute;
}

.icon-bar::before {
    bottom: 7px;
}

.icon-bar:after {
    top: 7px;
}

.navigation-toggle-btn:checked~label>span::before {
    bottom: 0;
    transform: rotate(90deg);
}

.navigation-toggle-btn:checked~label>span {
    top: 0;
    transform: rotate(45deg);
    transition: 0.3s;
}

.navigation-toggle-btn:checked~label>span::after {
    opacity: 0;
}

.navigation-items {
    margin-top: 5px;
    padding: 0 10px;
}

.navigation-items ul li a {
    color: white;
    text-decoration: none;
}

.navigation-items ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navigation-items li {
    padding: 10px;
    list-style-type: none;
}

.navigation-items-right {
    background: rgba(0, 0, 0, 0.2);
}

.navigation-items-right a {
    display: block;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 917px) {
    header {
        height: 15%;
    }
}

@media only screen and (max-width: 851px) {
    header {
        height: 20%;
    }
}

@media only screen and (max-width: 550px) {
    header {
        height: 20%;
    }
}

@media only screen and (max-width: 330px) {
    header {
        height: 15%;
    }
}

@media only screen and (max-width: 917px) {
    .navigation {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 865px) {
    .navigation {
        margin: auto;
        place-content: center;
        place-self: center;
    }
}

@media only screen and (max-width: 865px) {
    .navigation-items ul li {
        font-size: 18px;
    }
    .navigation-items-right ul li a {
        font-size: 16px;
    }
}

@media only screen and (min-width:350px) and (max-width: 445px) {
    .navigation-items ul li {
        font-size: 14px;
    }
    .navigation-items-right ul li a {
        font-size: 14px;
    }
}

@media only screen and (min-width:300px) and (max-width: 445px) {
    .navigation-items-right ul {
        padding-left: 25px;
    }
}

@media only screen and (min-width:300px) and (max-width: 445px) {
    .navigation-items-right ul li {
        text-align: center;
    }
}

@media only screen and (min-width:280px) and (max-width: 351px) {
    .navigation-items ul li {
        font-size: 12px;
    }
    .navigation-items-right ul li a {
        font-size: 12px;
    }
}

@media only screen and (min-width: 300px) {
    .navigation-items {
        display: block;
    }
    .navigation,
    .navigation-items ul {
        flex-direction: row;
    }
    .navigation-toggle {
        display: none;
    }
    .navigation-items-right {
        background: none;
    }
}


/* HEADER  botton start*/

.btn1 {
    display: inline-flex;
    background-color;
    color: white;
    border-radius: ;
    text-decoration: none;
    /*border: 0.10em solid #666;*/
    font-size: 1rem;
    align-items: stretch;
    padding: auto;
}


/* HEADER botton end*/


/*HEADER END*/


/*SHOWCASE START*/

.showcase-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.showcase {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-image: url("images/photo41.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position-y: 6em;*/
    background-position: center;
    min-height: 65vh;
    text-align: center;
    z-index: 1;
    opacity: 1;
}

.textover {
    width: 100%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    margin: auto;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Calibri;
    z-index: 5;
    opacity: 5;
}

.textove h2 {}

@media screen and (max-width: 1200px) {
    .textover {
        width: 100%;
        left: 45%;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .textover {
        width: 100%;
        left: 45%;
        font-size: 18px;
    }
}


/*SHOWCASE START*/


/*contant points start*/

.resheading {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: auto;
    height: auto;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.resheading ul {
    text-align: justify;
    font-size: 1.50rem;
    width: 1100px;
    text-align: center;
    color: black;
    justify-items: center;
    margin: 0;
    padding-right: 50px;
}

.resheading ul p {
    font-size: 1.15rem;
}


/*BOX STARTED*/

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    padding: 30px 0 30px 0;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.box1 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    /*background-color: khaki;
    border: solid 2px blue;*/
    margin: 0;
    justify-items: center;
    align-items: center;
}

.box2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    /*background-color: khaki;*/
    /*border: solid 2px blue;*/
    margin: 0;
    justify-items: center;
    align-items: center;
}

.box3 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    /*background-color: khaki;
    border: solid 2px blue;*/
    margin: 0;
    justify-items: center;
    align-items: center;
}

.box4 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    /*background-color: khaki;*/
    /*border: solid 2px blue;*/
    margin: 0;
    justify-items: center;
    align-items: center;
}

.box5 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 200px;
    /*background-color: khaki;
    border: solid 2px blue;*/
    margin: 0;
    justify-items: center;
    align-items: center;
}

.box6 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    /*background-color: khaki;*/
    /*border: solid 2px blue;*/
    margin: 0;
    justify-items: center;
    align-items: center;
}

.inbox1 {
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-bottom: -10px;
    margin-left: -20px;
    font-size: 20px;
}

.box1 .inbox1 {
    margin: -20px 0 -20px 0;
    padding-right: 25px;
}

.box1 .inbox2 {
    padding: 0 20px 0 20px;
    text-align: justify;
}

@media screen and (max-width: 700px) {
    .box-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 16px;
    }
}

.box-photo2 {
    /*background-color: lightgray;*/
    width: 100%;
    height: 100%;
    /*max-width: 500px;
    max-height: 400px;*/
    object-position: relative;
    object-fit: contain;
}

.box-photo4 {
    /*background-color: lightgray;*/
    width: 100%;
    height: 100%;
    /*max-width: 500px;
    max-height: 400px;*/
    object-position: relative;
    object-fit: contain;
    justify-content: center;
}

.box-photo6 {
    /*background-color: lightgray;*/
    width: 100%;
    height: 100%;
    /*max-width: 500px;
    max-height: 400px;*/
    object-position: relative;
    object-fit: contain;
}

.first-photo {
    padding: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.box2 .box-photo2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding-top: 20px;
    padding-bottom: -120px;
}

.box4 .box-photo4 img {
    /*padding-top: 80px;
    padding-left: 20px;*/
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 20px;
    padding-bottom: 50px;
}

.box6 .box-photo6 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 10px;
    padding-bottom: 0px;
}

@media screen and (max-width: 700px) {
    .box-container {
        max-width: 400px;
    }
}


/*BOX END*/


/*CONTENT START*/

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto;
    padding: 10px 20px 50px 20px;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    justify-content: center;
}

.content1 {
    display: grid;
    font-size: 1rem;
    fill-opacity: auto;
    height: 100%;
    width: 100%;
    max-width: 350px;
    padding: 5px;
    margin: 0;
}

.content1b,
.list {
    column-count: 2;
}

.content1b,
.list ul {
    margin-top: 0;
    column-width: 300px;
    text-align: ;
    line-height: 1.5;
    height: auto;
    margin: 0;
    padding-left: 25px;
}

.content1 p {
    font-size: 22px;
    text-indent: justify;
}

.content1a {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    border-top: solid 2px blue;
    /* background-color: darkorange;*/
}

@media all and (max-width: 900px) {
    .content {
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
        display: grid;
        background-color: none;
        font-size: 1rem;
        fill-opacity: auto;
        height: 100%;
        width: 100%;
        padding: 5px;
        margin: auto;
    }
    .content1 {
        width: 100%;
        height: 100%;
        max-width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .content1 {
        width: 100%;
        height: 100%;
        max-width: 600px;
        justify-content: center;
        align-items: center;
    }
}


/*@media all (min-width: 950px) and (max-width: 950px) {
    .content1 {
        display: grid;
        background-color: none;
        font-size: 1rem;
        fill-opacity: auto;
        height: 100%;
        width: 100%;
        max-width: 600px;
        padding: 5px;
        margin: auto;
    }
}*/


/*CONTENT1 END*/


/*CONTACT FORM START*/

.message1 {
    display: flex;
    flex-direction: column;
    background-image: url("images/photo33.jpg");
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 30px;
    align-items: center;
    border-top: solid;
    border-width: .5px;
    opacity: 0.80;
    position: relative;
}

.message1 h1 {
    color: white;
    max-width: 700px;
    object-position: contain;
}

@media all and (max-width: 445px) {
    .message1 h1 {
        text-align: center;
    }
}

.container {
    width: 50%;
    margin: 0 auto;
    background-image: url("images/photo28.jpg");
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1.5;
}

.form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 20px;
    /*background-color: #E9E9E9;
    border: 1px solid #E9E9E9;*/
    background-color: wheat;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    color: black;
    font-size: 18px;
    background-color: wheat;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #B22222;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
}

.form-contact-button:hover {
    opacity: 1;
}


/*CONTACT FORM END*/


/*FOOTER START*/


/*extra*/


/* STYLES SPECIFIC TO FOOTER  */


/* STYLES SPECIFIC TO FOOTER  */

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #3d3d3d;
}

.footer .sub-footer .column {
    margin-left: 0px;
}

.footer .column {
    width: 220px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .column h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .column ul li {
    color: #999999;
    font-size: .80em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .column ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.rights ul {
    display: flex;
    justify-content: center;
    color: white;
    clear: both;
}

@media only screen and (min-width: 1100px) {
    .sub-footer {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .sub-footer .social {
        width: 1100px;
        display: block;
    }
    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .footer .column {
        width: 20%;
    }
    .footer .column h1 {
        font-size: 14px;
    }
    .footer .column ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 745px) {
    .footer .column {
        width: 40%;
    }
    .footer .column h1 {
        font-size: 14px;
    }
    .footer .column ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .column {
        width: 40%;
    }
    .footer .column h1 {
        font-size: 14px;
    }
    .footer .column ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 320px) {
    .footer .column {
        width: 100%;
    }
}

@media only screen and (max-width: 335px) {
    .sub-footer .social {
        display: inline-flex;
        width: 100%;
    }
}

.base {
    margin: 0;
    width: 100%;
    Justify-content: center;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    list-style: none;
    background-color: coral;
    justify-content: contain;
}

.base ul {
    width: 100%;
    Max-width: 700px;
    align-items: center;
    Justify-content: center;
    list-style: none;
    text-decoration: none;
    justify-content: contain;
}

.base ul li {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .base ul {
        width: 100%;
        margin: 0;
        Justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}


/*FOOTER END */


/* photo refe https://pixabay.com/photos/mouse-rodent-cute-mammal-nager-1708378/*/


/* cockraches photo ref https://pixabay.com/vectors/bug-cockroach-insect-roach-1295181/*/


/* bedbug photo ref https://pixabay.com/vectors/animal-bedbug-bed-bug-infestation-2027062/*/


/* mice photo https://pixabay.com/vectors/mouse-mice-animal-rodent-small-303588/*/