/*kichen: https://pixabay.com/photos/kitchen-home-real-estate-2486092/*/


/* homes skaches :https://pixabay.com/illustrations/houses-set-architecture-clip-art-1094900/*/

.btn {
    display: inline-flex;
    background-color: #666;
    color: white;
    background-image: linear-gradient(bottom, darkgrey, to lightblue);
    border-radius: 6px;
    text-decoration: none;
    border: 0.10em solid #666;
    font-size: 1rem;
    align-items: stretch;
    padding: auto;
}

.btn1 {
    display: inline-flex;
    background-color: mintcream;
    color: black;
    background-image: linear-gradient(bottom, darkgrey, to lightblue);
    border-radius: 6px;
    text-decoration: none;
    border: 0.10em solid #666;
    font-size: 1rem;
    align-items: stretch;
    padding: auto;
}


/*BANNER*/

.banner {
    display: grid;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    background-color: ghostwhite;
}

.logo {
    width: 300px;
}

.logo ul li {
    list-style: none;
}

.logo img {
    display: grid;
    display: flex;
    width: 50%;
}

.area {
    align-items: center;
}

.area h3 {
    text-align: left;
}

.area ul li {
    list-style: none;
}

.contact ul li {
    list-style: none;
}


/*END BANNER*/


/*SUB-BANNER*/

.sub-banner {
    display: grid;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    text-decoration: none;
    background-color: black;
}

.sub-banner a:hover {
    background: lightseagreen;
}

.sub-banner a {
    color: white;
    text-decoration: none;
    text-align: center;
    box-shadow: var(--shadow);
}

.ho ul li {
    list-style: none;
}

.wh ul li {
    list-style: none;
}

.wh ul li {
    list-style: none;
}

.re ul li {
    list-style: none;
}

.com ul li {
    list-style: none;
}

.con ul li {
    list-style: none;
}


/*SHOWCASE*/


/*SHOWCASE START*/

.showcase {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.photo1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 30rem;
    width: 100%;
}

.photo-text {
    display: grid;
    background: url(../images/bannerphoto.png);
    background-size: cover;
    height: 100%;
    text-align: center;
    width: 100%;
}

.photo-text p {
    font-size: 1.75rem;
    color: white;
    background: lightslategray;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}

.photo-text ul li {
    list-style: none;
    font-size: 5px;
}

.heading {
    display: grid;
    color: white;
    text-align: center;
    font-size: 3rem;
}


/* https://pixabay.com/vectors/animal-bird-dove-fly-mourning-1296596/*/


/*END SHOWCASE*/


/*CONTENT START*/


/*CONTENT pest info start*/

.intro {
    display: grid;
    background-color: gainsboro;
    text-align: center;
    height: 300px;
    width: 1300x;
}

.intro-para {
    margin: 5% auto;
}

.intro-para ul li p {
    text-align: justify;
    list-style: none;
    padding-right: 20px;
}

.intro-para ul li {
    text-align: justify;
    list-style: none;
}

.sub-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    font-size: 1.15rem;
    padding: 0rem;
    text-align: justify;
    justify-content: center;
}

.box-one img {
    width: 40%;
}

.box-two img {
    width: 30%;
}

.box-three img {
    width: 30%;
}

.box-four img {
    width: 60%;
}

.box-five img {
    width: 60%;
}

.box-six img {
    width: 60%;
}

.sub-showcase ul li {
    list-style: none;
}

.sub-showcasebtn {
    display: grid;
    padding: 0rem;
    justify-items: center;
}

.sub-showcasebtn ul li {
    list-style: none;
    text-align: center;
}


/* photo refe https://pixabay.com/photos/mouse-rodent-cute-mammal-nager-1708378/*/

.sub-showcasetext {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 6rem;
    text-align: center;
    margin-bottom: 6rem;
}

.sub-showcasetext h1 {
    background-color: white;
    background: lightsteelblue;
}

.sub-showcasebtn {
    display: grid;
    padding: 0rem;
    justify-items: center;
}


/*CONTENT pest info end*/


/*CONTENT pest selection start*/

.services {
    display: grid;
    flex-wrap: wrap;
    width: auto;
}

.para1 {
    display: grid;
    text-align: center;
    font-size: 25px;
    background-color: blueviolet;
    color: white;
}

.para1 p {
    font-size: 30px;
}

.selection {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.selection {
    display: flexbox;
    flex-wrap: wrap;
    background-color: white;
    font-size: 1.15rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin: 2rem;
    margin: 2rem;
}

.button1 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button1:hover {
    background: green;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn1 {
    font-size: 15px;
}

.modal-content1 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header1 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header1 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer1 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body1 {
    padding: 10px 20px;
}

.closeBtn1 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn1:hover,
.closeBtn1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal1open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    max-width: 11.5rem;
    text-align: center;
    height: 15rem;
    padding-bottom: 0rem;
}

.box1 a:hover {
    background-color: ivory;
}

.box1 img {
    display: flex;
    width: 70%;
    object-fit: contain;
}

.button2 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button2:hover {
    background: green;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn2 {
    font-size: 15px;
}

.modal-content2 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header2 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header2 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer2 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body2 {
    padding: 10px 20px;
}

.closeBtn2 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn2:hover,
.closeBtn2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal2open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box2 a:hover {
    background-color: gray;
}

.box2 img {
    display: flex;
    width: 55%;
    object-fit: contain;
}

.button3 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button3:hover {
    background: green;
}

.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn3 {
    font-size: 15px;
}

.modal-content3 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header3 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header3 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer3 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body3 {
    padding: 10px 20px;
}

.closeBtn3 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn3:hover,
.closeBtn3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal3open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box3 a:hover {
    background-color: gray;
}

.box3 img {
    display: flex;
    width: 55%;
    height: 55%;
    object-fit: contain;
}

.button4 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button4:hover {
    background: green;
}

.modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn4 {
    font-size: 15px;
}

.modal-content4 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header4 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header4 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer4 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body4 {
    padding: 10px 20px;
}

.closeBtn4 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn4:hover,
.closeBtn4:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal4open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box4 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box4 a:hover {
    background: lightseagreen;
}

.box4 img {
    display: flex;
    width: 90%;
    height: 55%;
    object-fit: contain;
}

.button5 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button5:hover {
    background: green;
}

.modal5 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn5 {
    font-size: 15px;
}

.modal-content5 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header5 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header5 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer5 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body5 {
    padding: 10px 20px;
}

.closeBtn5 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn5:hover,
.closeBtn5:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal5open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box5 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box5 a:hover {
    background: lightseagreen;
}

.box5 img {
    display: flex;
    width: 70%;
    height: 55%;
    object-fit: contain;
}

.button6 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button6:hover {
    background: green;
}

.modal6 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn6 {
    font-size: 15px;
}

.modal-content6 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header6 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header6 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer6 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body6 {
    padding: 10px 20px;
}

.closeBtn6 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn6:hover,
.closeBtn6:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal6open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box6 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box6 a:hover {
    background: lightseagreen;
}

.box6 img {
    display: flex;
    width: 50%;
    height: 30%;
    object-fit: contain;
}

.button7 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button7:hover {
    background: green;
}

.modal7 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn7 {
    font-size: 15px;
}

.modal-content7 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header7 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header7 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer7 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body7 {
    padding: 10px 20px;
}

.closeBtn7 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn7:hover,
.closeBtn7:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal7open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box7 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box7 a:hover {
    background: lightseagreen;
}

.box7 img {
    display: flex;
    width: 80%;
    height: 40%;
    object-fit: contain;
}

.button8 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button8:hover {
    background: green;
}

.modal8 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn8 {
    font-size: 15px;
}

.modal-content8 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header8 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header8 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer8 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body8 {
    padding: 10px 20px;
}

.closeBtn8 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn8:hover,
.closeBtn8:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal8open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box8 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box8 a:hover {
    background: lightseagreen;
}

.box8 img {
    display: flex;
    width: 45%;
    height: 50%;
    object-fit: contain;
}

.button9 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button9:hover {
    background: green;
}

.modal9 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn9 {
    font-size: 15px;
}

.modal-content9 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header9 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header9 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer9 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body9 {
    padding: 10px 20px;
}

.closeBtn9 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn9:hover,
.closeBtn9:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal9open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box9 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box9 a:hover {
    background: lightseagreen;
}

.box9 img {
    display: flex;
    width: 85%;
    height: 40%;
    object-fit: contain;
}

.button10 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button10:hover {
    background: green;
}

.modal10 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn10 {
    font-size: 15px;
}

.modal-content10 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header10 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header10 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer10 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body10 {
    padding: 10px 20px;
}

.closeBtn10 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn10:hover,
.closeBtn1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal10open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box10 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box10 a:hover {
    background: lightseagreen;
}

.box10 img {
    display: flex;
    width: 120%;
    height: 40%;
    object-fit: contain;
}

.button11 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button11:hover {
    background: green;
}

.modal11 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn11 {
    font-size: 15px;
}

.modal-content11 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header11 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header11 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer11 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body11 {
    padding: 10px 20px;
}

.closeBtn11 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn11:hover,
.closeBtn11:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal11open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box11 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box11 a:hover {
    background: lightseagreen;
}

.box11 img {
    display: flex;
    width: 133%;
    height: 28%;
    object-fit: contain;
}

.button12 {
    background-color: black;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button12:hover {
    background: green;
}

.modal12 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0, 2.5);
}

#modalBtn12 {
    font-size: 15px;
}

.modal-content12 {
    background-color: antiquewhite;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0, 0.3), 0 7px 20px 0 rgba (0, 0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header12 {
    background: coral;
    padding: 5px;
    color: #fff;
}

.modal-header12 h2 {
    margin: 0;
    text-align: center;
}

.modal-footer12 {
    background-color: indigo;
    color: #fff;
    text-align: center;
    height: 40px;
}

.modal-body12 {
    padding: 10px 20px;
}

.closeBtn12 {
    color: black;
    float: right;
    font-size: 30px;
}

.closeBtn12:hover,
.closeBtn12:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modal12open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.box12 {
    display: flex;
    flex-wrap: wrap;
    position: center;
    align-items: center;
    background-color: red;
    max-width: 11.5rem;
    font-family: Calibri;
    text-align: center;
    padding-bottom: 0rem;
    height: 15rem;
}

.box12 a:hover {
    background: lightseagreen;
}

.box12 img {
    display: flex;
    width: 60%;
    height: 45%;
    object-fit: contain;
}


/*CONTENT pest selection end*/


/* SUB-CONTENT  START*/

.intro {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0.25rem 1rem 0.25rem 1rem;
}

.intro h2 {
    text-align: center;
}

.intro p {
    font-size: 1.5rem;
    text-align: justify;
}


/* SUB-CONTENT  END*/


/*MEMBERSHIP START*/

.association {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
}

.association img {
    display: grid;
    width: 60%;
}


/*MEMBERSHIP END */


/*FOOTER START*/

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: blanchedalmond;
}

.footer ul li {
    display: grid;
    display: flex;
    list-style: none;
}


/*END CONTENT */


/* photo refe https://pixabay.com/photos/mouse-rodent-cute-mammal-nager-1708378/*/


/* cockraches photo ref https://pixabay.com/vectors/bug-cockroach-insect-roach-1295181/*/


/* bedbug photo ref https://pixabay.com/vectors/animal-bedbug-bed-bug-infestation-2027062/*/


/* mice photo https://pixabay.com/vectors/mouse-mice-animal-rodent-small-303588/*/